<!DOCTYPE html>
<html>
<head>
	<title>東京</title>
</head>
<body>
	<header>
		<span class="headline">
          <h1>ウェルカム ! !</h1>
        <nav>
        	<ul><%= link_to '愛媛','https://www.pref.ehime.jp/'  %></ul>
        	<ul><%= link_to "大阪", 'http://www.pref.osaka.lg.jp/default.html' %></ul>
        	<ul><%= link_to "東京",'https://www.metro.tokyo.lg.jp/'  %></ul>
        	<ul><%= link_to "青森",'https://www.pref.aomori.lg.jp/' %></ul>
        </nav>
        <div class="box">
          <div class="box1"></div>
          <div class="box2"></div>
          <div class="box3"></div>
          <div class="box4"></div>
        </div>
	</header>
</body>
</html>